.gridWrapper {
  height: calc(40px * 2 + 5px);
  overflow-y: scroll;
  margin-bottom: 40px;
}

.savedContainer {
  display: grid;
  grid-template-columns: repeat(10, 10fr);
  grid-template-rows: repeat(2, auto);
  gap: 5px;
  padding: 0;
  margin: 0;
}

.text {
  padding: 0;
  margin: 0 0 12px 12px;
  align-self: self-start;
  color: rgb(156, 156, 156);
  display: inline-block;
}
